* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* header part */
.head {
    width: 100%;
    height: 113px;
    background-color: #f1f3f0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

/* animation in logotext */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logotxt {
    font-size: 50px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-left: 10px;
    color: rgb(36, 176, 211);
    animation: fadeIn 2s ease-in-out forwards;
}

.busimg span:hover {
    transform: scale(1.2);
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.busimg {
    width: 113px;
    height: 113px;
    margin-left: 10px;
}

.busimg img {
    width: 100%;
    height: 100%;
}

.busimg img:hover {
    transform: scale(1.2);
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.navbar {
    width: 500px;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(138, 187, 25);
}

.navbar ul li a:hover {
    border: 2px solid silver;
}

.mainsec {
    width: 100%;

    background-color: #d2dcb6;
    display: flex;
    justify-content: center;


}

.maintxt {
    width: 962px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 60px;
    color: #ce3910;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mapimg {
    margin: 20px 0px 20px 0px;
    width: 276px;
    height: 276px;
}

.mapimg img {
    width: 100%;
    height: 100%;
}

.mapimg img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.7s;
}

.mainsec1 {
    width: 100%;
    background-color: #d2dcb6;
    display: flex;
    justify-content: center;
}

.mainsec2 {
    width: 100%;
    background-color: #d2dcb6;

}

.searchbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchbox input {
    margin: 30px 0px 100px 0px;
    width: 700px;
    height: 45px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(186, 232, 224);
}

.searchbox input::placeholder {
    font-size: 18px;
    padding-left: 15px;
    color: black;

}

.searchlogo {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    border: 2px 2px 2px 0px;
    margin-top: 30px;
    background-color: rgb(186, 232, 224);
}

.searchlogo img {
    margin-top: 7px;
    height: 30px;
    width: 30px;
}

.foot {
    width: 100%;
    height: 178px;
    background-coloR: #778873;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.footbox1 {
    width: 400px;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.footheading {
    font-size: 22px;
    font-weight: 600;
}

.headingtxt {
    font-size: 16px;
}

.headingtxt ul li {
    list-style: none;
}

.headingtxt1 ul li {
    list-style: none;
}

.headingtxt1 ul {
    display: flex;
}

.footbox2 {
    width: 300px;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 8px;
}